[mongod1]
address=mongod1.local
replicationOperations=off

[mongod2]
address=mongod2.local
replicationOperations=off

[mongod5]
address=mongod5.local
replicationOperations=off


[mongod3]
address=mongod3.local
replicationOperations=off

[mongod4]
address=mongod4.local
replicationOperations=off

[mongod6]
address=mongod6.local
replicationOperations=off

[configd1]
address=img1.local:27019
replicationOperations=off
[configd2]
address=img2.local:27019
replicationOperations=off
[configd3]
address=img3.local:27019
replicationOperations=off
[DEFAULT]
status=on
replicaSet=off
operations=on
replicationOperations=off
